
#info_menu {
  background-color: #323232;
}


#messanger {
  background-color: #1E1E1E;
}


#message {
  background-color: lightblue;
  border-radius: 5px;
  color: black;
  /* font-size: 15px; */
  /* padding: 5px 0; */
}

#info_menu__avatar {
  /* margin-left: 10px */
}


#info_menu__title_label {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 15px;
}

#info_menu__online_status_label {
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 15px;
}

#thumb_label {
  border-radius: 160%;
  /* border-image: url('/static/video_message/704369002/37084.jpg'); */
}
