#dialog {
  border-width: 1px; 
  border-style: solid; 
  border-color: black; 
  border-top-style: none;
  border-left-style: none;
}


#dialog_title {
  border-width: 1px; 
  border-style: solid; 
  border-color: black; 
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}


#dialog_text {
}


#dialog_unread {
  background-color: lightblue;
  border-radius: 15px;
  color: black;
  /* font-size: 15px; */
}


#dialog_active {
  border-width: 1px; 
  border-style: solid; 
  border-color: black; 
  border-top-style: none;
  border-left-style: none;
  background-color: darkgreen;
}


#dialog_list__active {
  background-color: rgb(50, 50, 50);
}


#dialog_list__not_active {
  background-color: rgb(10, 10, 10);
}
